.m-daily {
    .flex;
    flex-wrap: wrap;
    gap: 30px;
    .m-daily-item {
        flex: none;
        .mb(10px);
        .size(420px, 290px);
        .pr;
        .u-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #24292e;
            margin-bottom: 10px;
            .u-server {
                font-size: 16px;
            }
            .flex;
            justify-content: space-between;
            align-items: flex-end;
            span {
                font-size: 14px;
                color: #989898;
                cursor: pointer;
                margin-right: 10px;
            }
        }
        .m-daily-content {
            .size(420px, 248px);
            .r(10px);
        }
        .m-child-item:not(:first-of-type) {
            margin-top: 20px;
        }
        &.is-disabled {
            &::after {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(255, 255, 255, 0.5);
                content: "";
                display: block;
                .size(100%, 100%);
                .pa;
            }
        }
    }
    @media screen and (max-width: @phone) {
        .m-daily-item {
            width: 100%;
        }
    }
    .m-simple-server {
        .u-server-title {
            color: #afafaf;
            .bold;
            font-size: 14px;
        }
        .m-my-server {
            padding: 10px;
            width: 100%;
            height: 119px;
            box-sizing: border-box;

            background: #ffffff;
            border-radius: 10px;
            .m-server-header {
                .flex;
                justify-content: space-between;
                align-items: flex-start;
                line-height: 18px;
                .m-status {
                    .flex;
                    align-items: center;
                    gap: 20px;
                    font-size: 10px;
                    .u-status {
                        position: relative;
                        color: #000;
                        &::before {
                            position: absolute;
                            display: block;
                            .size(10px, 10px);
                            top: 5px;
                            left: -12px;
                            .r(50%);
                            background-color: #989898;
                            content: "";
                        }

                        &.is-open {
                            &::before {
                                background-color: @priceColor;
                            }
                        }
                        &.is-busy {
                            &::before {
                                background-color: #af733b;
                            }
                        }
                        &.is-full-load {
                            &::before {
                                background-color: #f56c6c;
                            }
                        }
                    }
                }
            }
            .m-fav-list {
                .flex;
                gap: 10px;
                margin-top: 10px;
                .m-server-item {
                    .flex;
                    flex-direction: column;
                    gap: 7.5px;
                    .size(91.5px, 71px);
                    box-sizing: border-box;
                    padding: 10px;
                    background-color: #f6f6f6;
                    .r(10px);
                    font-size: 14px;
                    .u-name {
                        .bold;
                        color: #000;
                    }
                    .u-zone {
                        font-size: 10px;
                        color: rgba(0, 0, 0, 0.6);
                    }
                    .u-status {
                        .size(72.5px, 5px);
                        .r(10px);
                        background-color: #989898;
                        &.is-open {
                            background-color: @priceColor;
                        }
                        &.is-busy {
                            background-color: #af733b;
                        }
                        &.is-full-load {
                            background-color: #f56c6c;
                        }
                    }
                }
            }
        }
        .m-all-servers {
            .mt(10px);
            padding: 10px;
            width: 100%;
            height: 119px;
            box-sizing: border-box;

            background: #ffffff;
            border-radius: 10px;

            .m-server-list {
                .flex;
                gap: 10px;
                flex-wrap: wrap;
                margin-top: 10px;
            }
            .u-status {
                .r(2px);
                .size(15px, 15px);
                background-color: #989898;
                &.is-open {
                    background-color: @priceColor;
                }
                &.is-busy {
                    background-color: #af733b;
                }
                &.is-full-load {
                    background-color: #f56c6c;
                }
            }
        }
    }

    .m-simple-daily {
        width: 100%;
        .m-daily-wrap {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            // flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 10px;
        }
        .m-simple-daily-item {
            flex: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            gap: 13px;
            box-sizing: border-box;
            height: 119px;
            background: #fff;
            color: #000000;
            border-radius: 10px;
            .pr;
            .u-name {
                .flex;
                justify-content: space-between;
                align-items: center;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                .w(100%);
                color: #afafaf;
            }
            .u-week {
                font-weight: 400;
                font-size: 14px;
            }
            .u-desc {
                font-size: 14px;
                line-height: 18px;
                color: #000;
            }
        }
        @media screen and (max-width: @phone) {
            .m-simple-daily-item {
                width: 180px;
            }
        }
    }

    .m-simple-celebrity {
        .flex;
        flex-direction: column;
        gap: 10px;
        .m-celebrity-item {
            flex: none;
            .flex;
            flex-direction: column;
            padding: 10px;
            gap: 20px;
            width: 100%;
            height: 76px;
            box-sizing: border-box;

            background: #ffffff;
            color: #000000;
            border-radius: 10px;
            font-size: 14px;
            line-height: 18px;
            .u-celebrity-title {
                .flex;
                justify-content: space-between;
                align-items: center;
                .bold;
            }
            .u-celebrity-staged {
                .flex;
                justify-content: space-between;
                align-items: center;
                .bold;
                img {
                    .size(18px);
                    margin-right: 2px;
                }
            }
            .u-celebrity-desc {
                .flex;
                justify-content: space-between;
                align-items: center;
                .u-map {
                    .flex;
                    align-items: center;
                    gap: 5px;
                }
                .u-desc {
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }

    .m-simple-pet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
        height: 119px;
        .u-pet-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            gap: 13px;
            box-sizing: border-box;

            height: 119px;

            background: #ffffff;
            border-radius: 10px;
            flex: none;
            font-size: 14px;
            .u-pet-name {
                color: #000;
            }
            .u-pet-desc {
                color: #888;
                font-weight: normal;
            }
            .u-pet-detail {
                .flex;
                justify-content: flex-end;
                gap: 13px;
            }
            .u-times {
                .flex;
                gap: 8px;
                .u-time {
                    .size(22px, 22px);
                    .r(50%);
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 20px;
                    text-align: center;
                    background: #d9d9d9;
                    color: #fff;
                    &.is-active {
                        background-color: @priceColor;
                    }
                }
            }
            .u-done-icon {
                .size(20px, 20px);
            }
            &.is-done {
                background-color: @priceColor;
                color: #fff;
                .u-times {
                    .u-time.is-active {
                        background: #fff;
                        color: @priceColor;
                    }
                }
            }
            &.is-done,
            &:hover {
                .u-pet-title {
                    color: @priceColor;
                }
                // background-color: @bg-gray;
                // .u-pet-title {
                //     color: #fff;
                // }
                // svg {
                //     fill: #fff;
                // }
            }
        }
        &.is-disabled {
            .u-pet-detail {
                .none;
            }
        }
    }

    .m-simple-fb {
        .flex;
        flex-direction: column;
        gap: 20px;
        .mt(20px);
        .pr;
        .m-fb-item {
            flex: none;
            .flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 80px;
            background: #ffffff;
            color: #000000;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            border-radius: 10px;
            box-sizing: border-box;
            padding: 10px;
            &.is-done {
                background-color: @priceColor;
                color: #fff;
            }
        }
    }

    .m-simple-mp {
        .flex;
        flex-direction: column;
        gap: 20px;
        .mt(20px);
        .m-mp-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 10px;
            gap: 13px;
            width: 100%;
            height: 80px;
            background: #ffffff;
            color: #000000;
            border-radius: 10px;
            flex: none;
            box-sizing: border-box;
            .u-mp-title {
                .flex;
                .w(100%);
                justify-content: space-between;
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
            }
            .u-map-time {
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
            }
            &.is-active {
                background-color: #ffad31;
                color: #fff;
            }
        }
    }

    .m-simple-furniture {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
        gap: 5px;

        .w(100%);
        // height: 99px;
        box-sizing: border-box;

        background: #ffffff;
        border-radius: 10px;
        flex: none;
        & > div {
            .flex;
            .w(100%);
            justify-content: space-between;
            color: #000000;
            .u-label {
                // font-weight: 700;
                font-size: 15px;
                line-height: 26px;
                color: #888;
            }
            .u-value {
                font-weight: 400;
                font-size: 15px;
                line-height: 26px;
            }
            .u-link {
                &:hover {
                    color: @priceColor;
                }
            }
        }

        .u-furniture-title {
            .fz(15px,2);
            color: #888;
        }
    }

    .m-simple-mrt {
        .mt(20px);
        .m-mrt-item {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 10px;
            gap: 13px;

            .w(100%);
            height: 99px;
            box-sizing: border-box;

            background-color: #ffad31;
            color: #fff;
            border-radius: 10px;
            flex: none;
            .u-mrt-title {
                .flex;
                .w(100%);
                justify-content: space-between;
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
            }
        }
    }

    .m-simple-horse {
        .u-horse {
            .flex;
            flex-wrap: wrap;
            gap: 20px 18px;
            margin-top: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 280px;
            .scrollbar(2px);
            .u-item {
                flex: none;
                display: flex;
                justify-content: space-between;
                padding: 10px;
                gap: 13px;
                box-sizing: border-box;
                width: 200px;
                height: 80px;
                background: #fff;
                color: #000000;
                border-radius: 10px;
            }
            @media screen and (max-width: @phone) {
                .u-item {
                    width: 100%;
                }
            }
            .u-horse-name-wrap {
                flex: none;
                width: 60px;
                height: 100%;
                .el-carousel__container {
                    height: 60px;
                }
                .u-img-list {
                    width: 60px;
                    a {
                        .dbi;
                        width: 100%;
                        height: 100%;
                        :hover {
                            background-color: #eee;
                        }
                    }
                    .u-image {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
            .u-times-info {
                .flex;
                flex-direction: column;
                // justify-content: space-between;
                align-items: flex-end;
                height: 60px;
                .u-map-name {
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 30px;
                }
                .u-times {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    text-align: right;
                    &.is-exist {
                        line-height: 14px;
                    }
                }
                .u-times-lately {
                    color: #fba524;
                }
                i {
                    margin-right: 5px;
                    cursor: pointer;
                }
                .is-exist {
                    font-size: 12px;
                }
            }
        }
    }

    // 公告新闻
    .m-news {
        background: #fff;
        padding: 15px;
        box-sizing: border-box;

        .m-news-header {
            .flex;
            align-items: flex-start;
            padding-bottom: 15px;
            border-bottom: 0.5px dashed rgba(0, 0, 0, 0.2);

            .u-mode {
                font-size: 14px;
                padding: 0 5px;
                .r(2px);
                color: rgba(0, 0, 0, 0.5);
                .pointer;
                &:hover {
                    color: #aaa;
                }
                &.is-active {
                    .bold;
                    color: #000;
                }
            }
        }
        .m-news-list {
            margin: 14px 0;
            padding: 0;
            .flex;
            flex-direction: column;
            gap: 10px;
            li {
                list-style: none;
                font-size: 12px;
                white-space: nowrap;
                word-wrap: normal;
                word-break: keep-all;
                text-overflow: ellipsis;
                overflow: hidden;

                span {
                    padding: 0 10px;
                }
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    // 武林通鉴
    .m-simple-week {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        gap: 10px;
        .m-week-item {
            flex: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            gap: 13px;
            box-sizing: border-box;
            height: 119px;
            background: #fff;
            color: #000000;
            border-radius: 10px;
            .u-name {
                color: #afafaf;
                .bold;
            }
        }
    }
}
