.m-navigation {
    // .mb(20px);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: @header-height;
    .z(10);
    background-color: #f3f5f6;
    padding: 20px 0;

    .u-goback {
        margin-right: 10px;
        .r(30px);
        .fz(16px,21px);
        // .bold(700);
        border: none;
    }
    .u-right-btn {
        .flex;
    }

    .m-face-btn-box {
        // float: left;
        // .flex;
        .u-btn {
            .r(5px);
            .h(40px);
            .min-width(110px);
            .fz(16px,20px);
            // .bold(700);
            font-style: normal;
            // margin-right: 10px;
            border-color: darken(#ffffff, 2%);
            &.on {
                background-color: #6f42c1;
                border-color: #6f42c1;
            }

            &.off {
                background-color: #aaa;
                border-color: #bbb;
            }

            &.top {
                background-color: #55aaff;
                border-color: #55aaff;
            }
        }
        .u-publish {
            .ml(10px);
        }
    }
}
@media screen and (max-width: @phone) {
    .m-navigation .u-op {
        .none;
    }
}
.m-banner {
    .mt(20px);
    background-color: @color;
    border-radius: 6px;
    //height: 206px;
    //.h(100%);
    overflow: hidden;
    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        .db;
        .auto(x);
    }
}

.m-header {
    .flex;
    .mb(10px);
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    @media screen and (max-width: @phone) {
        .pt(60px);
    }

    .m-avatar {
        .size(168px);
        .flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        .u-avatar {
            .db;
            .size(120px);
            .c-avatar-pic {
                .full;
            }
        }
    }
    .m-topic {
        .pr;
        .size(300px,112px);
        .fz(14px);
        .flex;
        .bold;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        background: url(../../img/topic_bg.svg) center center no-repeat;
        background-size: 300px 112px;
        color: #fff;
        letter-spacing: 1px;
    }
    .m-header-info {
        width: 100%;
        color: #000;
    }
    h2 {
        .fz(28px, 1.5);
        font-weight: 300;
        margin: 0;
        letter-spacing: 0.5px;
    }

    .u-title {
        font-weight: 300;
        margin: 0;
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: auto;
    }

    .u-info {
        .fz(12px);
    }
    .u-name {
        margin-right: 6px;
    }

    .u-time {
        .mr(5px);
    }
    .u-author {
        padding: 5px 0;
        .mr(15px);
        align-items: center;
        a {
            color: @color-link;
            &:hover {
                border-bottom: 1px solid #0366d6;
            }
        }
        i {
            .fz(16px);
            .mr(5px);
        }
        .u-edit-icon {
            .fz(12px);
            .mr(0);
        }
    }

    .u-desc {
        border: 1px dashed #e1e4e8;
        border-radius: 4px;
        padding: 10px;
        background-color: #fafbfc;
        font-size: 14px;
        line-height: 2;
        margin: 10px 0;
        white-space: pre-line;
        box-sizing: border-box;
        color: #555;
        text-align: left;
    }

    .u-meta {
        .mt(5px);
        i {
            padding: 2px 6px;
            .mr(6px);
            font-style: normal;
            font-size: 12px;
            border-radius: 2px;
        }
    }
    .u-original {
        border: 1px solid #f39;
        color: #f39;
    }
    .u-fr {
        border: 1px solid #c00;
        color: #c00;
    }
    .u-mark {
        background-color: #6f42c1;
        border: 1px solid #6f42c1;
        color: #fff;
    }
    .u-client {
        border: 1px solid #0eb7ce;
        color: #0eb7ce;
        &.std {
            border: 1px solid #f0b400;
            color: #f0b400;
        }
    }
    .u-bodytype {
        &.u-bodytype-1 {
            border: 1px solid #00aaff;
            color: #00aaff;
            // #0eb7ce
        }
        &.u-bodytype-2 {
            border: 1px solid #aaaaff;
            color: #aaaaff;
        }
        &.u-bodytype-6 {
            border: 1px solid #ffaaff;
            color: #ffaaff;
        }
        &.u-bodytype-5 {
            border: 1px solid #3fbd5c;
            color: #3fbd5c;
        }
    }
    .u-label-client {
        margin-right: 5px;
        color: #666;
        background-color: #eee;
        padding: 0 5px;
        border-radius: 2px;
        font-style: normal;
    }

    // 头条
}

.m-face-content {
    .flex;
    .pb(40px);
    gap: 20px;
}
.m-single-content-box {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}
.m-single-data,
.m-face-pay {
    .clip;
    .size(565px,500px);
    box-sizing: border-box;
    flex-shrink: 0;
}
.m-single-box {
    padding: 0;
}
.m-single-pics {
    .pr;
    .size(100%,500px);
    .u-bg {
        .pa;
        .size(calc(100% - 40px));
        .r(10px);
        box-sizing: border-box;
        img {
            .size(100%);
            filter: blur(100px);
        }
        overflow: hidden;
    }
    .u-mask {
        background-color: rgba(0, 0, 0, 0.2);
        filter: blur(100px);
        .pa;
        .lt(0);
        .size(100%);
    }
    .m-carousel {
        .pr;
        .z(1);
        .mb(30px);
    }
    .u-desc {
        padding-bottom: 20px;
        .fz(14px);
        word-wrap: break-word;
    }
}
.m-single-header {
    .pt(0);
}
.m-face-pay {
    .pr;
    .flex;
    .fz(14px);
    .r(10px);
    color: #555;
    background: url("../../img/face_pay_bg.svg") #ffad31;

    .m-face-pay-info {
        .flex;
        .fz(16px);
        .size(290px,135px);
        .r(10px);
        align-items: center;
        flex-wrap: wrap;
        margin: 40px;
        box-sizing: border-box;
        background-color: #fff;
        padding: 20px;
        .u-text {
            color: #ffad31;
        }
        .el-tag {
            .fz(16px,26px);
            .x;
            .r(5px);
            border-color: #ffad31;
            padding: 0 20px;
            height: 26px;
            margin: 0;
        }
        .u-btn {
            .mt(10px);
            .size(100%,40px);
            .r(20px);
            .fz(16px);
            background-color: #ff7070;
            border-color: #ff7070;

            &:hover {
                background-color: lighten(#ff7070, 10%);
                border-color: lighten(#ff7070, 10%);
            }
        }
        z-index: 2;
    }
    .u-box-img {
        .pa;
        .rb(-40px,0);
        z-index: 1;
    }
}

@media screen and (max-width: @phone) {
    .m-face-pay {
        display: flex;
        align-items: center;
        justify-content: center;
        .m-face-pay-info {
            position: relative;
            text-align: center;
            top: unset;
            left: unset;
            transform: unset;
            padding: 10px 5px;
            border-radius: 10px;
        }
    }
}

.m-face-files {
    .mb(20px);
}
.m-face-files-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    li {
        position: relative;
        border-bottom: 1px dotted #e1e4e8;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 5px 0;

        &:last-child {
            border-bottom: none;
        }
    }
    .u-label {
        .fz(12px,28px);
        margin-right: 10px;
        color: rgba(0, 0, 0, 0.5);

        em {
            color: #000;
            font-style: normal;
        }
    }
}
.m-author {
    .mb(20px);
    .u-author-info {
        .flex;
        align-items: center;
        // .w(180px);
        .ml(20px);
        padding: 16px 0;
        .u-name {
            .ml(20px);
            .flex;
            align-items: center;
        }
    }
}
.m-random-list {
    padding-bottom: 30px;
    .u-list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    .u-item {
        border-radius: 4px;
        text-align: center;
        .w(160px);
        background-color: @bg-light;
        padding: 5px 5px 0 5px;
        overflow: hidden;
    }
    .u-pic {
        height: 100px;
        .w(auto);
        overflow: hidden;
        .el-image,
        .u-image-slot {
            .flex;
            justify-content: center;
            .size(100%);
            align-items: center;
            color: #999;
        }
        transition: all 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    .u-name {
        .fz(12px,2.3);
        color: @color;
        .nobreak;
        .w(100%);
    }
}
.m-face-pic {
    .h(100%);
    display: flex;
    align-items: center;
    .u-pic {
        .full;
        .auto(x);
        .db;
    }
}

.m-thx {
    .mt(30px);
    padding: 20px;
}

.el-carousel__item.is-active {
    .z(100);
    // pointer-events:none;

    // &:hover .m-face-pic{
    //     cursor:zoom-out !important;
    // }
}
.m-carousel .el-carousel__container {
    height: 450px;
}

.el-carousel__mask {
    // .pointer;
    .none !important;
}

.el-slider__button-wrapper {
    .z(100) !important;
}

.c-facedat-preivew {
    .el-tabs__content {
        z-index: 9;
    }
}

@media screen and (max-width: @phone) {
    .m-header {
        h2 {
            .fz(1rem);
        }
    }
    .p-face-single .el-input-group__prepend {
        .none;
    }

    .m-random-list {
        .u-list {
            justify-content: center;
        }
        .u-item {
            border-radius: 4px;
            text-align: center;
            .w(130px);
            background-color: @bg-light;
            padding: 5px 5px 0 5px;
            overflow: hidden;
        }
        .u-pic {
            height: 70px;
        }
    }
    .m-single-pics {
        .u-bg {
            height: calc(100% - 305px);
        }
    }
}

.m-desc {
    .pb(20px);
    .el-divider__text {
        .bold;
        .fz(18px);
        background-color: #f3f5f6;
    }
    .u-desc {
        .db;
        .r(10px);
        background-color: #fff;
        color: #000;
        padding: 20px;
    }
}
