.p-book {
    .pt(40px);
    .m-common-tabs {
        .u-tab {
            transition: 0.3s ease-out;
            &.active,
            &:hover {
                background-color: #324148;
                color: #fff;
            }
        }
    }
    .m-book-list {
        .mt(40px);
        .u-type {
            .flex;
            .mb(20px);
            justify-content: space-between;
            align-items: flex-end;
            .u-all {
                cursor: pointer;
                color: #a5a5a5;
                .fz(16px,21px);
            }
        }
        .u-title {
            .fz(28px,42px);
            .bold(700);
            color: #24292e;
        }
    }
}
