.c-main {
    background-color: #f3f5f6;
}
.book-single-wrapper {
    position: relative;
    width: 100%;
    .back-wrap {
        position: fixed;
        background-color: #f3f5f6;
        padding: 20px 0;
        top: 64px;
        width: calc(100% - 40px);
        z-index: 4;
        button {
            width: 100px;
            height: 40px;
            .lh(40px);
            font-weight: 400;
            padding: 0;
            border: none;
            border-radius: 30px;
            &:focus,
            &:hover {
                color: @active-color;
                background-color: rgba(@active-color, 0.1);
            }
        }
    }
    .book-single-content {
        margin-top: 80px;
        .book-header {
            margin-bottom: 20px;
            h2,
            p {
                margin: 0;
                color: #24292e;
            }
            .book-title {
                font-size: 32px;
                font-weight: 700;
            }
            .book-desc {
                font-size: 12px;
                line-height: 16px;
            }
        }
        .book-detail-wrapper {
            display: flex;
            gap: 20px;
            margin-bottom: 40px;
            .book-content-wrapper {
                position: relative;
                width: 1000px;
                height: 316px;
                background-color: #324148;
                padding: 14px;
                padding-right: 34px;
                box-sizing: border-box;
                color: #000000;
                .right-div {
                    position: absolute;
                    right: 0;
                    top: 121px;
                    width: 20px;
                    height: 72px;
                    border-top: 1px solid #ece9d6;
                    border-bottom: 1px solid #ece9d6;
                }
                &::before {
                    position: absolute;
                    right: 0;
                    top: 50px;
                    bottom: 50px;
                    display: block;
                    width: 20px;
                    border-top: 1px solid #ece9d6;
                    border-bottom: 1px solid #ece9d6;
                    content: "";
                }
                &::after {
                    position: absolute;
                    top: 0;
                    right: 20px;
                    display: block;
                    width: 1px;
                    height: 100%;
                    background-color: #ece9d6;
                    content: "";
                }
                .book-content {
                    position: relative;
                    width: 952px;
                    height: 288px;
                    box-sizing: border-box;
                    padding: 20px;
                    font-size: 14px;
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                        linear-gradient(180deg, #ece9d6 0%, #ffffff 100%);
                    &.img-content {
                        text-align: center;
                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                    .title {
                        font-size: 16px;
                        font-weight: 700;
                    }
                    .content {
                        line-height: 30px;
                    }
                    &.vertical {
                        writing-mode: tb-rl;
                        text-align: left;
                        overflow-y: hidden;
                        overflow-x: auto;
                        letter-spacing: 5px;
                        .title {
                            margin-left: 40px;
                        }
                    }
                    &.row {
                        padding-right: 80px;
                        overflow-y: auto;
                        overflow-x: hidden;
                        .title {
                            margin-bottom: 40px;
                        }
                    }
                }
                .buttons {
                    position: absolute;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & > .disabled {
                        opacity: 0.5;
                        cursor: not-allowed;
                    }
                    & > div {
                        width: 20px;
                        height: 20px;
                        font-weight: 700;
                        font-size: 12px;
                        color: #fff;
                        background-color: #324148;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        box-shadow: 0px 0px 10px rgba(50, 65, 72, 0.4);
                        i {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                            text-align: center;
                            font-size: 14px;
                            font-weight: bold;
                        }
                        span {
                            &::selection {
                                background-color: #324148;
                            }
                        }
                    }
                    &.vertical {
                        bottom: 24px;
                        left: 0;
                        width: 100%;
                        i {
                            margin-top: 0;
                        }
                        & > div {
                            &.left {
                                margin-left: 24px;
                                span {
                                    margin-right: 5px;
                                }
                            }
                            &.right {
                                margin-right: 44px;
                                span {
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                    &.row {
                        top: 0;
                        right: 44px;
                        height: 100%;
                        flex-direction: column-reverse;
                        & > div {
                            &.left {
                                margin-bottom: 24px;
                                span {
                                    margin-left: 5px;
                                }
                            }
                            &.right {
                                display: flex;
                                flex-direction: row-reverse;
                                margin-top: 24px;
                                span {
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
                .switch {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 34px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 12px;
                    font-weight: bold;
                    text-align: center;
                    color: #fff;
                    cursor: pointer;
                    background-color: #000;
                    opacity: 0;
                    transition: all 0.5s;
                }
                &:hover {
                    .switch {
                        opacity: 1;
                        z-index: 1;
                    }
                }
                &.book-content-wrapper-9 {
                    // 佛学
                    background-color: #947d2e;
                    .buttons {
                        & > div {
                            background-color: #947d2e;
                            span {
                                &::selection {
                                    background-color: #947d2e;
                                }
                            }
                        }
                    }
                }
                &.book-content-wrapper-10 {
                    // 道学
                    background-color: #194372;
                    .buttons {
                        & > div {
                            background-color: #194372;
                            span {
                                &::selection {
                                    background-color: #194372;
                                }
                            }
                        }
                    }
                }
                &.book-content-wrapper-11 {
                    // 杂集
                    background-color: #324148;
                }
            }
            .book-info {
                flex: 1;
                position: relative;
                padding: 20px;
                background-color: #fff;
                font-size: 14px;
                font-weight: 400;
                color: #000000;
                box-sizing: border-box;
                height: 316px;
                p {
                    margin: 0;
                }
                .u-subtitle {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 10px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    svg {
                        width: 22px;
                    }
                    span {
                        margin-left: 4px;
                    }
                    &:last-of-type {
                        margin-top: 20px;
                    }
                }
                .u-info-item {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 6px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    gap: 2px;
                    .look-site {
                        margin-left: 5px;
                        font-size: 14px;
                        text-decoration: underline;
                    }
                }
            }
        }
        .m-book-list {
            position: relative;
            margin-bottom: 40px;
            .u-title {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .title {
                    display: inline-block;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 42px;
                    color: #24292e;
                }
                .book-achievement {
                    margin-left: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #24292e;
                    color: #fff;
                    margin-top: 2px;
                    padding: 4px 10px 6px 8px;
                    border-radius: 50px;
                    span {
                        margin-left: 4px;
                        color: #fff;
                        font-size: 12px;
                        font-weight: 400;
                    }
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
            .book-list-content {
                display: flex;
                flex-wrap: wrap;
                margin-top: 20px;
                gap: 20px;
            }
        }
        .m-book-map {
            // margin-bottom: 40px;
            overflow: hidden;
            // .u-title {
            //     margin-bottom: 20px;
            //     display: inline-block;
            //     font-weight: 700;
            //     font-size: 32px;
            //     line-height: 42px;
            //     color: #24292e;
            // }
        }
    }
    .m-wiki-post-panel {
        & > div {
            margin-bottom: 40px !important;
        }
    }
    .m-wiki-post-empty {
        margin-bottom: 40px !important;
        color: #8a6d3b;
        background-color: #fcf8e3;
        border: 1px solid #faebcc;
        padding: 8px 14px 8px 14px;
        border-radius: 4px;
        text-align: center;
        letter-spacing: 2px;
        font-size: 14px;
    }
    .m-wiki-signature {
        text-align: right;
        color: #999;
        font-size: 12px;
        line-height: 2;
        border-top: 1px dashed #ddd;
        padding: 5px 0;
    }
    .m-thx {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
.u-detail-item {
    margin: 5px 0;
}
.book-fb {
    color: #f18b8b;
}
.book-shop,
.book-achievement {
    color: #007eff;
}
.book-achievement:hover {
    color: #d60036;
}
.book-quest {
    a {
        color: #8b4dff;
        &:hover {
            color: #fba524;
        }
    }
}
.book-special {
    color: #fba524;
}
// @ipad
@media screen and (max-width: 1450px) {
    .book-detail-wrapper {
        flex-wrap: wrap;
        .book-content-wrapper {
            width: 100% !important;
            .book-content {
                width: 100% !important;
            }
        }
    }
}

@media screen and (max-width: @ipad) {
    .back-wrap {
        margin-left: -40px;
        padding-left: 40px !important;
        width: 100% !important;
    }
    .book-detail-wrapper {
        flex-wrap: wrap;
        .book-content-wrapper {
            width: 100% !important;
            .book-content {
                width: 100% !important;
            }
        }
    }
    .book-list-wrapper {
        overflow-x: scroll;
        .book-list-content {
            justify-content: center;
            .m-book-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
