.m-adventure-item {
    .pr;
    .size(200px);
    .r(10px);
    .mb(20px);
    flex-shrink: 0;
    box-sizing: border-box;
    border: 6px solid #fff;
    overflow: hidden;
    margin: 0 15px 30px 0;
    background: #e2dfdf;
    // transition: all 0.2s ease-in-out;

    .u-default {
        .full;
    }
    .u-title {
        .pa;
        .z(1);
        .lb(0,20px);
        width: 50%;
        margin-left: 25%;
    }
    .u-img {
        .full;
        .pa;
        .lt(0,0); 
        background-size: cover;
    }
    .u-icon {
        .pa;
        .z(2);
        background-image: url("@{pvx_img}icon.png");
        background-size: cover;
        .size(41px,73px);
        .lt(20px,14px);
    }

    .u-camp-switch,
    .u-school-switch {
        .size(24px);
        .pa;
        top: 10px;
        right: 10px;
        opacity: 0.5;
        transition: all 0.2s ease-in-out;

        .u-camp-icon,
        .u-school-icon {
            display: block;
        }

        &:hover {
            opacity: 1;
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        // transform: scale(1.02);
    }
}
.m-school-choose {
    .u-school-list {
        display: flex;
        flex-wrap: wrap;
    }

    .u-school-item {
        padding: 4px;
        .size(36px);
        .pointer;
        .r(4px);
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: #0002;
        }
    }
}
.m-adventure-item:last-child {
    .mr(0);
}
