@themeColor: #d16400;

.m-main {
    top: @header-height !important;
    min-height: calc(100vh - @header-height);
    padding: 0 40px 20px 40px;
}
.p-adventure-List {
    // .pr;
    .pt(64px);
    .u-type {
        .flex;
        margin: 20px 0 20px 0;
        justify-content: space-between;
        align-items: flex-end;
        .u-all {
            cursor: pointer;
            color: #a5a5a5;
            .fz(16px,21px);
            // .bold(700);
        }
    }
    .u-title {
        .fz(32px,42px);
        .bold(700);
        color: #24292e;
    }
}

//顶部按钮+搜索区域等
.m-share-tabs {
    position: fixed;
    top: 64px;
    z-index: 13;
    background-color: #f3f5f6;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
    .u-tabs {
        .flex;
        flex-wrap: wrap;
    }
    .u-tabs-btn,
    .u-tabs-filter {
        .pointer;
        .size(40px);
        .r(30px);
        background-color: #fff;
        .mb(20px);
        &.right {
            .ml(20px);
            .mr(10px);
        }
        svg {
            fill: #949494;
        }
        &:hover {
            background-color: @themeColor;
            i {
                color: #fff;
            }
            svg {
                fill: #fff;
            }
        }
    }
    // .u-tabs-filter {
    //     .ml(10px);
    // }

    .u-tab-item {
        .size(100px,40px);
        .flex;
        .flex(x);
        align-items: center;
        .pr;
        .pointer;
        .fz(16px,20px);
        // .bold(550);
        .mr(20px);
        // padding: 4px 10px 2px 10px;
        // border-bottom: 2px solid transparent;
        background-color: #fff;
        color: #949494;
        .r(30px);
        // letter-spacing: 5px;
        &.active,
        &:hover {
            background-color: @themeColor;
            .u-tabs-span {
                color: #fff;
            }
        }
    }
    .u-tabs-search {
        .ml(20px);
        .mr(20px);
        .w(100%);
        min-width: 240px;
        max-width: 360px;
        .u-search input {
            border: none;
            background-color: #fff;
            padding: 0 40px 0 20px;
            .r(30px);
            .fz(16px,40px);
            .size(100%,40px);
            color: #000;
            &::placeholder {
                .fz(14px);
                color: #b0b0b0;
            }
        }
    }
    .u-right-btn {
        flex: 1;
        text-align: right;
        .u-analysis-btn {
            .r(5px);
            // .size(100px,40px);
            .fz(16px);
            font-style: normal;
            .mr(20px);
            background-color: #e54059;
            border-color: #e54059;
        }

        .u-btn {
            .r(5px);
            // .size(100px,40px);
            .w(120px);
            .fz(16px);
            font-style: normal;
            background-color: @themeColor;
            border-color: @themeColor;
        }
    }
}
.m-adventure-list {
    .pr;
    .u-shade-btn {
        .pointer;
        .pa;
        z-index: 12;
        .flex;
        .flex(x);
        align-items: center;
        .size(60px,286px);
        .fz(26px);
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.7);
        i {
            color: #fff;
        }
        &:hover {
            background-color: @themeColor;
            i,
            svg {
                color: #fff;
            }
        }
    }
    .u-shade-btn-left {
        border-radius: 10px 0 0 10px;
    }
    .u-shade-btn-right {
        border-radius: 0 10px 10px 0;
        right: 0;
    }
    .u-disabled {
        cursor: not-allowed;
        background-color: rgba(163, 152, 152, 0.7);
        &:hover {
            background-color: rgba(163, 152, 152, 0.7);
        }
    }
}

//分类型list
.m-face-list {
    .flex;
    overflow-x: hidden;
    overflow-y: hidden;
    .w(100%);
}
.u-all-type {
    margin-top: 20px !important;
}
//全部list
.m-face-list--all {
    display: inline-flex;
    flex-wrap: wrap;
    .m-adventure-item {
        .pr;
        .mb(20px);
        overflow: hidden;
    }
}
.m-adventure-item:last-child {
    .mr(0);
}
.m-adventure-item {
    .pr;
    .size(270px,286px);
    .r(10px);

    flex-shrink: 0;
    box-sizing: border-box;
    border: 1px solid @border-hr;
    overflow: hidden;
    margin: 0 15px 30px 0;
    // transition: all 0.2s ease-in-out;
    background-color: #fff;
    .u-default {
        .full;
    }
    .u-title {
        .pa;
        .z(1);
        .lb(0,20px);
        width: 50%;
        margin-left: 25%;
    }
    .u-img {
        .full;
        .pa;
        .lt(0,0);
        background-size: cover;
    }
    .u-icon {
        .pa;
        .z(2);
        background-image: url("@{pvx_img}icon.png");
        background-size: cover;
        .size(41px,73px);
        .lt(20px,14px);
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        // transform: scale(1.02);
    }
}

.m-archive-more {
    width: 100%;
    .mb(20px);
}
@media screen and (max-width: @ipad) {
    .m-adventure {
        .u-type {
            .mt(20px);
        }
        .u-title {
            .fz(24px);
        }

        .u-all-type {
            margin-top: 0 !important;
        }
    }
    // 顶部切换
    .m-share-tabs {
        .pb(10px);
        .u-tabs {
            .flex;
            .flex(x);
            flex-wrap: wrap;
        }
        .u-tab-item {
            .flex;
            .u-icon-img {
                .size(18px);
            }
            .u-tabs-span {
                .fz(12px);
            }
            .mb(10px);
        }
        .u-right-btn {
            .pr;
            // .mt(20px);
        }
    }
    .m-face-list {
        overflow-x: auto;
        .scrollbar(2px);
    }
}
@media screen and (max-width: @phone) {
    .m-share-tabs {
        overflow-x: auto;
        .scrollbar(2px);
        width: calc(100% - 30px);
        .u-tabs {
            justify-content: flex-start;
            flex-wrap: nowrap;
        }
    }
}
