.reputation-container {
    .pt(40px);
    .m-common-tabs {
        .u-select {
            .flex;
            .w(100%);
            min-width: 260px;
            input {
                .r(30px);
            }
        }

        .m-group {
            .flex;
            gap: 10px;
            &.m-group-search {
                .w(100%);
            }
            .el-select .el-input .el-input__inner {
                border: 2px solid #f3f4f5;
                background: #f3f4f5;
                color: #b0b0b0;
                padding-left: 60px;
            }
            .active .el-input .el-input__inner,
            .el-select .el-input.is-focus .el-input__inner {
                .bold;
                border: 2px solid #d16400;
                background: rgba(209, 100, 0, 0.1);
                color: #000;
                &::placeholder {
                    color: #000;
                }
            }
            .el-input__prefix {
                line-height: 40px;
                padding: 0 10px;
                color: #949494;
            }
            .active .el-input__prefix {
                color: #d16400;
            }
        }
        .u-tab {
            transition: 0.3s ease-out;
            &.active,
            &:hover {
                background-color: @active-color;
                color: #fff;
            }
        }
        .u-search input {
            border-radius: 30px;
            font-size: 16px;
            line-height: 40px;
            width: 100%;
            height: 40px;
            border: none;
            background-color: #f3f4f5;
            padding: 0 40px 0 20px;
            color: #000;
        }
    }

    .reputaion-content-wrapper {
        .reputation-list-wrapper {
            .pt(40px);
            &:first-child .reputation-title {
                .mt(0);
            }
            .reputation-title {
                font-size: 28px;
                font-weight: 700;
                color: #24292e;
            }
        }
        .reputation-list {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
            gap: 20px;
        }
    }
}
@media screen and (max-width: @ipad) {
    .reputation-container {
        padding: 20px;
        .reputation-search {
            margin-left: -60px;
            padding-left: 60px;
        }
        .reputaion-content-wrapper {
            .reputation-list {
                justify-content: space-between;
            }
        }
        .reputation-item {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: @phone) {
    .reputation-container {
        .reputation-search {
            .search-item,
            .select-item {
                &:nth-child(2) {
                    margin-right: 0;
                }
                margin-bottom: 15px;
                &.select-wrap {
                    width: 210px;
                    input {
                        width: 150px;
                    }
                }
            }
        }
        .reputation-title {
            text-align: center;
        }
        .reputation-item {
            margin-right: 0;
        }
        .reputaion-content-wrapper {
            .pt(64px);
            .reputation-list {
                justify-content: center;
            }
        }
    }
}
