.scrollbar(6px);
body {
    background-color: #fff;
}
.m-main {
    .pr;
    min-height: calc(100vh - @header-height);
    padding: calc(@header-height + 40px) 40px 40px 40px;
    box-sizing: border-box;
}
@media screen and(max-width:@ipad) {
    .m-main {
        .pl(20px);
        .pr(20px);
    }
}
@media screen and(max-width:@phone) {
    .m-main {
        padding: 20px;
    }
}
.c-main {
    .mt(0);
    &.is-closed {
        .ml(0px);
    }
    &.is-regular {
        .ml(@regularWidth);
    }
    &.is-opened {
        .ml(@openedWidth);
    }
}
