.scrollbar(6px);
body {
    background-color: #f3f5f6;
}
.m-main {
    .pr;
    top: @header-height !important;
    min-height: calc(100vh - @header-height);
    padding: 0 40px 20px 40px;
}
@media screen and(max-width:@phone) {
    .m-main {
        padding: 20px;
    }
}
.c-main {
    .mt(0);
    &.is-closed {
        .ml(0px);
    }
    &.is-regular {
        .ml(@regularWidth);
    }
    &.is-opened {
        .ml(@openedWidth);
    }
}

.m-archive-more {
    .mb(10px) !important;
}
