.scrollbar(6px);
body {
    background-color: #f3f5f6;
}
.m-main {
    padding: 64px 40px 0;
    .pr;
}
.c-main {
    // overflow: hidden;
    .mt(0);
    &.is-closed {
        .ml(0px);
    }
    &.is-regular {
        .ml(60px);
    }
    &.is-opened {
        .ml(180px);
    }
}
@media screen and (max-width: @ipad) {
    .m-main {
        padding: 10px 20px;
    }
}
@media screen and (max-width: @phone) {
    .m-main {
        padding: 10px 15px !important;
    }
}

.m-archive-more {
    .mb(10px) !important;
}
