.p-index {
    width: 100%;
    padding: 60px 0;
    box-sizing: border-box;
    .flex;
    gap: 30px;
    .m-index-category{
        flex: 1;
        min-height: 80vh;
        width: 33%;
        padding: 30px;
        box-shadow: 0px 0px 10px 0px #0000001A;
        border-radius: 10px;
        &.index0{
            background: url("../img/index0.svg") no-repeat bottom left;
        }
        &.index1{
            background: url("../img/index1.svg") no-repeat bottom right;
        }
        &.index2{
            background: url("../img/index2.svg") no-repeat bottom right;
        }
        .u-index-category-title{
            .fz(16px,20px);
            .bold(700);
            width: 100%;
            margin-bottom: 30px;
        }
        .m-child-category-list {
            .flex;
            flex-wrap: wrap;
            gap: 30px;
            .m-child-category{
                box-sizing: border-box;
                padding:21px 19px 21px 20px;
                border: 1px solid transparent;
                .flex;
                width: 248px;
                .u-image {
                    .size(50px);
                }
                .u-text {
                    color: #A3A3A3;
                    .fz(20px,50px);
                    .pl(30px);
                    .bold;
                }
                transition: 0.3s ease-out;
                &:hover {
                    .r(10px);
                    .u-text {
                        color: #000;
                    }
                    &.child-0 {
                        background-color: #5B40FF0D;
                        border: 1px solid #6B52FF80;
                        box-shadow: 0px 0px 10px 0px #6B52FF66;
                    }
                    &.child-1 {
                        background-color: #E86F001A;
                        border: 1px solid #E86F00;
                        box-shadow: 0px 0px 10px 0px #E86F0066;
                    }
                    &.child-2 {
                        background-color: #53b27f0D;
                        border: 1px solid #53b27f;
                        box-shadow: 0px 0px 10px 0px #53b27f66;
                    }
                }
            }
        }

    }
}
@media screen and (max-width: @phone) {
    .p-index {
        flex-direction: column;
        .m-index-category {
            &.index0{
                transform: scaleX(-1);
                background-size: contain;
                .u-index-category-title{
                    transform: scaleX(-1);
                }
                .m-child-category-list {
                    transform: scaleX(-1);
                }
            }
            &.index1{
                background-size: contain;
            }
            &.index2{
                background-size: contain;
            }
            .u-index-category-title{
                .fz(14px,18px);
                width: 100%;
                margin-bottom: 10px;
            }
            width: 90%;
            min-height: unset;
            padding: 20px;
            .m-child-category-list {
                gap: 10px;
                .m-child-category{
                    box-sizing: border-box;
                    padding: 21px 0px;
                    border: 1px solid transparent;
                    width: 150px;
                    .u-image {
                        .size(30px);
                    }
                    .u-text {
                        .pl(10px);
                    }
                }
            }
        }
    }
}
