.p-homeland {
    .m-buttons {
        padding-top: 80px;
        .flex;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
        position: sticky;
        top: 64px;
        z-index: 3;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 20px 0;
        background: #f3f5f6;
        .scrollbar(2px);
        a {
            flex: none;
            width: 100px;
            height: 40px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
            cursor: pointer;
            font-size: 16px;
            line-height: 20px;
            background-color: #fff;
            color: #949494;
            border-radius: 30px;
            &.is-active,
            &:hover {
                background-color: @homelandColor;
                color: #fff;
            }
        }
    }
    .m-homeland-content {
        width: 100%;
        overflow: hidden;
    }
    @media screen and (max-width: @ipad) {
        .m-homeland-content {
            padding-top: 45px;
        }
    }
}
