.m-common-toolbar {
    .flex;
    .r(10px);
    gap: 10px;
    min-height: 60px;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    .m-toolbar-item {
        .flex;
        gap: 10px;
        &.m-toolbar-search {
            .w(100%);
        }
        .u-item {
            .pr;
            .pointer;
            .size(100px,40px);
            .flex;
            .fz(16px,22px);
            .r(30px);
            .bold;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            color: #949494;
            transition: 0.3s ease-out;

            &.active,
            &:hover {
                color: #fff;
            }
        }
        .u-search {
            .w(100%);
            min-width: 180px;
            flex: 1;
            .u-search-input input {
                .r(30px);
                .fz(14px,40px);
                .size(100%,40px);
                border: none;
                background-color: #f3f4f5;
                padding: 0 40px 0 20px;
                color: #000;
                &::placeholder {
                    .fz(14px);
                    color: #b0b0b0;
                }
            }
            input[type="text"]::-webkit-input-placeholder {
                .fz(14px);
                color: #b0b0b0;
            }
            .el-input__suffix {
                right: 15px;
            }
            .el-input__icon {
                .bold;
                color: #24292e;
            }
        }
    }
}

@media screen and (max-width: @ipad) {
    .m-common-toolbar {
        padding: 0;
        height: auto;
        flex-direction: column;
        box-shadow: 0 0 0 0;
        gap: 30px;
    }
}
