@type-item--active: #f8b238; // 搜索type选中颜色
.p-price {
    // padding: 0;

    :deep(.pvx-search-wrapper) {
        position: inherit;
        // top: calc(64px + 48px); // header + breadcrumb

        .search-group .search-item.type-list .type-item {
            &:hover,
            &.is-active {
                background-color: @type-item--active;
                .el-radio-button__inner {
                    background-color: @type-item--active;
                }
            }
        }
    }

    .m-price-header {
        .flex;
        padding: 20px 0;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        .u-title {
            font-weight: 700;
            font-size: 32px;
            margin: 0;
            flex-shrink: 0;
        }
        .u-select--round {
            width: 200px;

            border-radius: 40px;
            background-color: #fff;
            position: relative;
            :deep(.el-input__prefix) {
                display: flex;
                align-items: center;
                font-family: "Microsoft YaHei";
                font-weight: bold;
                font-size: 16px;
                line-height: 40px;
                color: #949494;
                padding-left: 15px;
            }

            :deep(.el-input__inner) {
                padding-left: 100px;
                border: none;
                border-radius: 40px;
                height: 40px;
                font-weight: bold;
                font-size: 16px;
                line-height: 40px;
                color: #24292e;
            }
        }
        .u-tips {
            width: 800px;
            // height: 42px;
            .strong {
                color: rgb(204, 0, 0);
                font-weight: bold;
            }
            background-color: #fafbfc;
            border-radius: 4px;
            padding: 5px 10px;
            border: 1px solid #eee;
            font-size: 13px;
            // line-height: 2;
        }
    }
}

@media screen and (max-width: @ipad) {
    .p-price {
        .m-price-search {
            position: sticky;
            top: 64px;
            z-index: 1;
        }
        :deep(.pvx-search-wrapper) {
            width: 100%;
            &::-webkit-scrollbar {
                width: 2px;
                height: 2px;
            }
            .search-group {
                flex-wrap: wrap;
            }
            .type-list {
                margin-bottom: 20px;
            }
        }
        .m-price-header {
            padding-top: 84px;
        }
    }
}
@media screen and (max-width: @phone) {
    .p-price {
        .m-price-search {
            position: sticky;
            top: 64px;
        }
        :deep(.pvx-search-wrapper) {
            width: 100%;
            &::-webkit-scrollbar {
                width: 2px;
                height: 2px;
            }
            .search-group {
                flex-wrap: wrap;
            }
            .type-list {
                margin-bottom: 20px;
            }
        }
        .m-price-header {
            padding-top: 84px;
        }
    }
}
