.m-horse-broadcast {
    .mt(40px);
    .m-horse-broadcast__header {
        .flex;
        align-items: flex-end;
        gap: 20px;
        margin-bottom: 20px;
        .u-title {
            font-weight: 700;
            font-size: 28px;
            height: 42px;
            line-height: 42px;
            color: #24292e;
        }
        .el-select {
            width: 100px;
            height: 40px;
            border-radius: 30px;
            input {
                padding-right: 10px;
                padding-left: 10px;
                border: none;
                width: 100px;
                height: 40px;
                border-radius: 30px;
                text-align: center;
                font-weight: 700;
                font-size: 16px;
                color: #24292e;
            }
            .el-input__suffix {
                display: none;
            }
        }
    }
    .m-horse-broadcast__list {
        .m-horse-broadcast__item {
            .size(346px,297px);
            .r(10px);
            padding: 20px;
            background-color: #fff;
            box-sizing: border-box;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            .u-horse-map {
                .size(306px,192px);
                .r(10px);
                overflow: hidden;
            }
            .u-horse-mapinfo {
                .flex;
                .mt(20px);
                justify-content: space-between;
                gap: 10px;
                .u-horses {
                    .scrollbar;
                    .pb(6px);
                    max-width: 200px;
                    overflow-x: auto;

                    .u-horses-content {
                        .flex;
                        gap: 10px;
                    }
                    .u-horse {
                        .r(10px);
                        .size(45px);
                        flex-shrink: 0;
                        background-image: url("../../img/horse_item_bg_sm.jpg");
                        &.u-chitu {
                            .flex;
                            align-items: center;
                            justify-content: center;
                            background-image: none;
                            font-size: 12px;
                        }
                    }
                    img {
                        .pointer;
                        .r(10px);
                        .size(45px);
                        transition: all 0.5s;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
                .u-times-info {
                    .flex;
                    flex-direction: column;
                    font-weight: 700;
                    .u-map-name {
                        .fz(18px,1.5);
                    }
                    .u-times {
                        .fz(14px);
                    }
                    .u-times-lately {
                        color: #f94343;
                    }
                    & > div {
                        .flex;
                        justify-content: flex-end;
                    }
                    &.is-chitu {
                        .u-name,
                        .u-times {
                            opacity: 0.5;
                        }
                        .el-icon-refresh {
                            cursor: pointer;
                            color: #f94343;
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    .w-no-data {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 317px;
    }
}
