@import "./common.less";
@import "./pop.less";
.m-horse-card {
    width: 200px;
    height: 294px;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    // margin: 0 10px 20px;
    color: #24292e;
    cursor: pointer;
    .u-image {
        background-image: url("../../img/horse_item_bg_sm.jpg");
        width: 160px;
        height: 160px;
        border-radius: 10px;
        transition: all 0.5s;
        box-sizing: border-box;
    }
    .u-name {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 700;
    }
    .u-desc {
        position: relative;
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        margin-top: 5px;
        font-size: 14px;
        font-weight: 400;
        color: #999;
        overflow: hidden;
    }

    &:hover {
        .u-image {
            transform: scale(1.05);
        }
    }
    .u-attr-icon {
        width: 36px;
        height: 36px;
        box-sizing: border-box;
    }
    .u-attr-wrap {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        .u-attr {
            position: relative;
            margin: 2px;
            img {
                max-width: 36px;
            }
        }
    }
}

@media screen and (max-width: @phone) {
    .m-horse-card {
        width: 100%;
        text-align: center;
        .u-image {
            margin: 0 auto;
        }
        .u-attr-wrap {
            justify-content: center;
        }
    }
}
