.u-quality-bg--0 {
    .u-image {
        background-image: radial-gradient(#24292e 80%, #999) !important;
    }
}
.u-quality-bg--1 {
    .u-image {
        background-image: radial-gradient(#24292e 80%, #fff) !important;
    }
}
.u-quality-bg--2 {
    .u-image {
        background-image: radial-gradient(#24292e 80%, #00d24b) !important;
    }
}
.u-quality-bg--3 {
    .u-image {
        background-image: radial-gradient(#24292e 80%, #007eff) !important;
    }
}
.u-quality-bg--4 {
    .u-image {
        background-image: radial-gradient(#24292e 80%, #ff2dff) !important;
    }
}
.u-quality-bg--5 {
    .u-image {
        background-image: radial-gradient(#24292e 80%, #ffa500) !important;
    }
}
.u-quality-bg--6 {
    .u-image {
        background-image: radial-gradient(#24292e 80%, #c00) !important;
    }
}
