.horse-home-wrapper {
    .pt(40px);
    position: relative;
    .m-common-tabs {
        .u-tab {
            transition: 0.3s ease-out;
            &.active,
            &:hover {
                background: #d16400;
                color: #fff;
            }
        }
    }
    .m-horse-content {
        .m-horse-broadcast__header {
            .mb(10px);
        }
        .m-horse-broadcast .m-horse-broadcast__header .el-select input {
            background-color: #f1f1f1;
        }
        .m-horse-broadcast {
            overflow: hidden;
            .list {
                padding: 10px;
                .ml(-10px);
            }
        }
    }
    .m-list-wrapper {
        .u-type {
            .flex;
            .mb(20px);
            justify-content: space-between;
            align-items: flex-end;
            .u-all {
                cursor: pointer;
                color: #a5a5a5;
                .fz(16px,21px);
            }
        }
        .u-title {
            .mt(40px);
            .fz(28px,42px);
            .bold(700);
            color: #24292e;
        }
    }
}

@media screen and (max-width: @phone) {
    .horse-home-wrapper {
        .m-list-wrapper {
            .m-common-list--v2 {
                overflow: auto;
                .same-item {
                    flex-shrink: 0;
                }
            }
        }
    }
}
