.m-main {
    padding: 20px 40px;
}
.horse-home-wrapper {
    .list-wrapper {
        margin-top: 80px;
        .list-item-wrapper {
            margin-bottom: 40px;
            .title-header {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin-bottom: 20px;
                .title {
                    font-weight: 700;
                    font-size: 32px;
                    height: 42px;
                    line-height: 42px;
                }
                a {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 21px;
                    color: #a5a5a5;
                }
            }
        }
    }
}
