.horse-list-wrapper {
    .horse-list-content {
        margin-top: 50px;
        .horse-title-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 40px;
            .operate-wrap {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .el-switch__label {
                    i {
                        font-size: 20px;
                    }
                    &.is-active {
                        color: #d16400;
                    }
                }
                .operate-btn {
                    margin-right: 15px;
                    font-size: 16px;
                    font-weight: bold;
                    color: #a5a5a5;
                    cursor: pointer;
                    &:hover {
                        color: #d16400;
                    }
                }
                .list-type-wrapper {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    border-radius: 30px;
                    padding: 3px;
                    background-color: #fff;
                    .list-type-item {
                        font-size: 13px;
                        background-color: #fff;
                        color: #bbb;
                        padding: 5px 15px;
                        text-align: center;
                        cursor: pointer;
                        &:hover {
                            font-weight: bold;
                            color: #d16400;
                        }
                        &:first-of-type {
                            border-top-left-radius: 30px;
                            border-bottom-left-radius: 30px;
                        }
                        &:last-of-type {
                            border-top-right-radius: 30px;
                            border-bottom-right-radius: 30px;
                        }
                        &.active {
                            font-weight: bold;
                            color: #fff;
                            border-radius: 30px;
                            background: #d16400;
                        }
                    }
                }
            }
        }
        .horse-list {
            position: relative;
            width: 100%;
            overflow-y: hidden;
            overflow-x: auto;
            &.card-wrap {
                .list-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    .more-btn {
                        width: calc(100% - 40px);
                    }
                    &.line-list-content {
                        justify-content: flex-start;
                        flex-wrap: nowrap;
                        img {
                            max-width: 160px !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: @ipad) {
    .horse-list-wrapper {
        .horse-list-content {
            margin-top: 130px;
            .horse-title-wrap {
                padding: 0;
            }
            .horse-list {
                &.card-wrap {
                    .list-content {
                        .more-btn {
                            width: calc(100% - 20px);
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: @phone) {
    .horse-list-wrapper {
        .horse-list-content {
            margin-top: 170px;
            .horse-title-wrap {
                padding: 0;
            }
            .horse-list {
                &.card-wrap {
                    .list-content {
                        .more-btn {
                            width: calc(100% - 20px);
                        }
                    }
                }
            }
        }
    }
}
