@import "./common.less";
@import "./pop.less";
.c-main {
    background-color: #f3f5f6;
}
.horse-single-wrapper {
    position: relative;
    width: 100%;
    .back-wrap {
        position: fixed;
        background-color: #f3f5f6;
        padding: 20px 0;
        top: 64px;
        width: 100%;
        z-index: 4;
        button {
            width: 100px;
            height: 40px;
            .lh(40px);
            font-weight: 400;
            padding: 0;
            border: none;
            border-radius: 30px;
            &:focus,
            &:hover {
                color: @active-color;
                background-color: rgba(@active-color, 0.1);
            }
        }
    }
    .main-info-wrapper {
        position: relative;
        width: 100%;
        margin-top: 75px;
        margin-bottom: 40px;
        & > .title {
            margin-bottom: 20px;
            font-size: 32px;
            font-weight: 700;
            color: #24292e;
        }
    }
    .horse-single-content {
        .main-info-wrap {
            display: flex;
            gap: 20px;
            .img-wrap {
                width: 450px;
                height: 450px;
                background-color: #fff;
                padding: 20px;
                border-radius: 10px;
                box-sizing: border-box;
                .u-image {
                    width: 410px;
                    height: 410px;
                    background-image: url("../../img/horse_item_bg.jpg");
                    border-radius: 10px;
                }
            }
            .info-wrap {
                flex: 1;
                position: relative;
                padding: 20px;
                background-color: #fff;
                border-radius: 10px;
                font-size: 16px;
                font-weight: 700;
                color: #24292e;
                .name {
                    font-size: 32px;
                    margin-bottom: 20px;
                    height: 42px;
                    line-height: 42px;
                }
                .desc {
                    margin-bottom: 10px;
                    font-weight: normal;
                }
                .info-list {
                    margin-top: 20px;
                    .title {
                        margin-bottom: 10px;
                    }
                    .no-data {
                        color: #aaa;
                        height: 50px;
                        width: 50px;
                        line-height: 50px;
                        text-align: center;
                        background-color: #000;
                        border-radius: 10px;
                    }
                }
            }
        }
        .info-list {
            .list {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                min-width: 360px;
                .u-attr {
                    cursor: pointer;
                    margin-right: 10px;
                }
            }
            .basic-list {
                font-size: 13px;
                color: #00d24b;
            }
        }
        .u-link {
            position: absolute;
            right: 30px;
            top: 18px;
            font-weight: normal;
        }
    }
    .same-list-container {
        margin-bottom: 40px;
        .title {
            margin-bottom: 20px;
            font-size: 32px;
            font-weight: 700;
            height: 42px;
            line-height: 42px;
        }
        .same-list-wrapper {
            position: relative;
            width: 100%;
            height: 160px;
            overflow: hidden;
        }
    }
    .catch-container {
        margin-bottom: 40px;
        .title {
            margin-bottom: 20px;
            font-size: 32px;
            font-weight: 700;
            height: 42px;
            line-height: 42px;
        }
        .m-horse-map {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
        }
    }
    .m-wiki-post-panel {
        & > div {
            margin-bottom: 40px !important;
        }
    }
    .m-wiki-post-empty {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border: 1px solid #faebcc;
        padding: 8px 14px 8px 14px;
        border-radius: 4px;
        text-align: center;
        letter-spacing: 2px;
        font-size: 14px;
    }
    .m-wiki-signature {
        text-align: right;
        color: #999;
        font-size: 12px;
        line-height: 2;
        border-top: 1px dashed #ddd;
        padding: 5px 0;
    }
    .m-thx {
        margin-top: 20px;
    }
}

@media screen and (max-width: @phone) {
    .horse-single-wrapper {
        .main-info-wrap {
            flex-direction: column;
            .img-wrap {
                width: 100% !important;
                height: auto !important;
                img {
                    width: 100% !important;
                    height: 100% !important;
                }
            }
        }
    }
}
