@petColor: #07ad36;
.m-luckey-item {
    .flex;
    align-items: center;
    gap: 20px;

    // .size(calc(calc(100% / 3) - 10px),200px);
    .size(580px,200px);

    .u-img {
        .db;
        .pr;
        .size(100%);
        background-color: #f5f8fa;
        .r(4px);
        .u-pic {
            // .full;
            .r(4px);
            .size(100%);
            object-fit: cover;
        }
    }
}
.m-luckey-item:last-child {
    .mr(0);
}
.m-pet-item {
    .pr;
    .mr(18px);
    .mb(20px);
    .flex;
    .flex(x);
    .r(10px);
    flex-wrap: wrap;
    cursor: pointer;
    .size(100px,128px);
    background: #ffffff;
    // &:hover {
    //     background: #ffffff;
    // }

    .u-shade {
        .pa;
        z-index: 5;
        .size(100%);
    }
    .u-item {
        .mt(10px);
        .size(80px);
        .r(10px);
    }
    .u-name {
        .size(100%,18px);
        text-align: center;
        .fz(14px, 18px);
        color: #000000;
    }
    &:hover {
        .u-item {
            .mt(8px);
            .ml(-2px);
        }
    }
    &.pet-level-2 {
        &:hover {
            background-color: #0dc03f;
            .u-name {
                color: #ffffff;
            }
        }
    }
    &.pet-level-3 {
        &:hover {
            background-color: #0085ff;
            .u-name {
                color: #ffffff;
            }
        }
    }
    &.pet-level-4 {
        &:hover {
            background-color: #cc46ed;
            .u-name {
                color: #ffffff;
            }
        }
    }
    &.pet-level-5 {
        &:hover {
            background-color: #ffa811;
            .u-name {
                color: #ffffff;
            }
        }
    }
}
