.m-pet-title {
    .flex;
    margin: 20px 0;
    justify-content: space-between;
    align-items: flex-end;
    .u-all {
        cursor: pointer;
        color: #a5a5a5;
        .fz(16px,21px);
    }

    .u-title {
        .fz(32px,42px);
        .bold(700);
        color: #24292e;
    }
}

// 福缘宠物
.m-lucky-list {
    .flex;
    overflow-x: auto;
    overflow-y: hidden;
    .w(100%);
    .m-luckey-item:last-child {
        .mr(0);
    }
}
.m-pet-list {
    .flex;
    flex-wrap: wrap;
}

.m-archive-null {
    .mt(20px);
}

.u-tabs-span {
    display: flex;
    align-items: center;
    color: #949494;
}
.u-icon-img {
    .size(24px);
    .mr(6px);
}
.m-archive-more {
    .mb(10px);
    .w(100%);
    background-color: @petColor;
    border-color: @petColor;
    &:hover {
        background-color: @petColor;
        border-color: @petColor;
    }
}

.m-archive-pages {
    overflow-x: auto;
    .active {
        background-color: @petColor !important;
    }
}

@media screen and (max-width: @ipad) {
    .p-pet {
        .u-type {
            .mt(20px);
        }
        .u-title {
            .fz(24px);
        }
    }
}

@media screen and (max-width: @phone) {
    .p-pet {
        .u-lucky-title {
            .mt(84px);
        }
        .u-title {
            .fz(24px);
        }
        .m-pet-tabs,
        .m-lucky-list {
            .scrollbar(2px);
        }
    }
}
